@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #ffb7b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container img{
    max-width: 100% ;
    max-height: 80vh;
    padding-right: 5px;
}
.button{
    background-color: #fff;
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius:10000px ;
}
a.button{
    text-decoration: none;
    color: black;
}
.button .icon{
    height: 20px;
}
.divbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}